.navigation.navbar
{
    padding: 24px 89px;
    border: 0;
    margin: 0;
    background-color: white;
}

button.navbar-toggler
{
    width: 50%;
    border: 0;
    padding: 0;
}

button.navbar-toggler span
{
    height: fit-content;
    width: fit-content;
    float: right;
    font-size: 14px;
}

.logoContainer
{
    width: 50%;
}

.logoContainer img
{
    height: 19px;
}

#collapsibleNavbar ul
{
    width: fit-content;
    float: right;
    align-items: flex-end;
}

#collapsibleNavbar li
{
    text-wrap: nowrap;
    margin-top: auto;
    margin-bottom: auto;
}

#collapsibleNavbar a
{
    padding: 0 0 0 48px;
    color: black;
}

#collapsibleNavbar a i
{
    font-size: 10px;
}

#collapsibleNavbar a::after
{
    display: none;
}

#collapsibleNavbar .searchButton
{
    font-size: 24px;
    cursor: pointer;
}

#collapsibleNavbar .searchButton:hover
{
    text-decoration: none;
}

.dropdown .dropdown-menu 
{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.show .dropdown-menu 
{
    max-height: 200px;
    opacity: 1;
}

#collapsibleNavbar .dropdown-menu
{
    padding: 0;
    min-width: fit-content;
}

#collapsibleNavbar .dropdown-menu.show
{
    padding: 10px;
}

#collapsibleNavbar .dropdown-menu a
{
    width: fit-content;
    padding: 0;
    margin: 0;
    float: right;
    align-items: flex-end;
}

#collapsibleNavbar .dropdown-item:active
{
    background-color: white;
}

#collapsibleNavbar .dropdown-item:hover
{
    background-color: white;
}

#searchbar 
{
    position: absolute;
    z-index: 9999;
    background-color: white;
    top: 18px;
    right: 120px;
}

#searchbar input
{
    width: 400px;
}



/* temporary section height */
#offer
{
    min-height: 1000px;
    background-color: aliceblue;
}



#insta
{
    background-color: #F5F0EC;
    padding: 60px 200px;
}

.instaMiddle
{
    background-color: #1B5B31;
    padding: 120px 110px;
    color: #F5F0EC;
}

.instaFirst
{
    font-size: 40px;
    width: 67%;
    float: left;
    padding-top: 9px;
}

.instaSecond
{
    display: inline-block;
    font-size: 16px;
    width: 25%;
    padding-left: 64px;
}

#insta .instaButton
{
    color: #1B5B31;
    background-color: #F5F0EC;
    padding: 10px 24px 12px;
    font-size: 16px;
    margin-top: 24px;
    border-radius: 200px;
}

#insta .instaButton:active:focus
{
    outline-color: #1B5B31;
}
#insta .instaButton:focus
{
    box-shadow: none;
}



#footer
{
    background-color: #111111;
    padding: 80px 200px;
    color: #F5F0EC;
}

.footerFirstTop
{
    font-size: 16px;
    margin-right: -7px;
}

.footerFirstTopLeft
{
    width: 49%;
    display: inline-block;
}

.footerFirstTopRight
{
    width: 50%;
    display: inline-block;
    text-align: right;
    font-size: 16px;
}

#footer .footerButton
{
    background-color: #1B5B31;
    color: #F5F0EC;
    padding: 12px 24px 14px;
    border-radius: 200px;
    margin-left: 24px;
    font-size: 16px;
}

#footer .footerButton:active:focus
{
    outline-color: #1B5B31;
}

#footer .footerButton:focus
{
    box-shadow: none;
}

.separator
{
    margin: 62px 0;
}

.footerFirstBottom
{
    font-size: 14px;
}

.footerFirstBottom a
{
    padding-left: 48px;
    color: #F5F0EC;
}

.footerFirstBottom a:hover
{
    color: #1B5B31;
    text-decoration-line: none;
}

.footerFirstBottomLeft
{
    width: 49%;
    display: inline-block;
}

.footerFirstBottomRight
{
    width: 50%;
    display: inline-block;
    text-align: right;
}

.footerSecond
{
    padding-top: 120px;
    margin-right: -7px;
    font-size: 16px;
}

.footerSecondLeft
{
    width: 49%;
    display: inline-block;
}

.footerSecondRight
{
    width: 50%;
    display: inline-block;
    text-align: right;
}



@media only screen and (max-width: 767px) 
{
    #collapsibleNavbar a
    {
        padding: 5px 0;
        text-align: right;
    }

    #searchbar 
    {
        top: 172px;
        left: 20px;
    }

    #searchbar input
    {
        width: 40vw;
    }
}

@media only screen and (max-width: 1468px) 
{
    #insta
    {
        padding: 0;
    }
}

@media only screen and (max-width: 790px) 
{
    .instaFirst
    {
        width: 100%;
        float: none;
        text-align: center;
    }
    .instaSecond
    {
        width: 100%;
        padding-left: 0;
        padding-top: 20px;
        text-align: center;
    }
    #insta .instaButton
    {
        margin-top: 0;
        margin-left: 42px;
    }
}

@media only screen and (max-width: 636px) 
{
    #insta .instaButton
    {
        margin-left: 10px;
    }

    .instaMiddle
    {
        padding: 60px 50px;
    }
}

@media only screen and (max-width: 516px) 
{
    #insta .instaButton
    {
        margin: 24px 0;
    }
}