.navigation.navbar
{
    padding: 24px;
    border: 0;
    margin: 0;
}
.navigation .navbar-nav>li>a, .navigation .navbar-nav>li>i
{
    padding: 0 0.5vw;
}
button.navbar-toggler
{
    width: 50%;
    border: 0;
    padding: 0;
}
button.navbar-toggler span
{
    height: fit-content;
    width: fit-content;
    float: right;
}
.logoContainer
{
    width: 50%;
}
#collapsibleNavbar ul
{
    width: fit-content;
    float: right;
    align-items: flex-end;
}
#collapsibleNavbar a
{
    color: black;
}