/* temporary section height */
#realizations
{
    min-height: 500px;
    background-color: aliceblue;
}



@media only screen and (max-width: 1468px) 
{
    #insta
    {
        padding: 0;
    }
}

@media only screen and (max-width: 1228px) 
{
    #intro .textColumn 
    {
        padding: 100px 24px 100px 44px;
    }
}

@media only screen and (max-width: 1175px)
{
    #footer
    {
        padding: 80px 100px;
    }
}

@media only screen and (max-width: 1151px)
{
    #intro .introButtonFirst
    {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1067px)
{
    #about .leftColumn
    {
        margin-right: 0;
    }

    .offerCol
    {
        padding: 24px 20px;
    }
}

@media only screen and (max-width: 992px)
{
    #about .leftColumn
    {
        width: 100%;
    }

    #about .rightColumn 
    {
        padding: 80px;
    }

    #about .sectionHeader
    {
        max-width: unset;
    }

    #about .sectionText 
    {
        max-width: unset;
    }

    #intro .sectionHeader
    {
        max-width: unset;
    }

    #intro .sectionText 
    {
        max-width: unset;
    }

    #intro .introButtonFirst
    {
        margin-bottom: 0;
    }

    .photoColumn
    {
        width: 100%;
    }

    .introPhoto
    {
        display: block;
        position: relative;
        margin: auto;
        height: auto;
        width: 50%;
    }

    .col-lg-4
    {
        margin: 20px 0;
    }

    .columnText
    {
        max-width: unset;
    }
}

@media only screen and (max-width: 991px)
{
    .offerCol
    {
        padding: 48px 40px;
    }
}

@media only screen and (max-width: 975px)
{
    .footerFirstBottomLeft
    {
        display: block;
        text-align: center;
        width: 100%;
    }

    .footerFirstBottomRight
    {
        display: block;
        text-align: center;
        width: 100%;
        padding-top: 20px;
    }

    #footer .phoneNumber
    {
        padding-left: 0;
    }

    .footerSecond
    {
        padding-top: 80px;
    }
}

@media only screen and (max-width: 873px)
{
    .offerText 
    {
        padding: 0 100px 60px;
    }

    .footerFirstTopLeft
    {
        display: block;
        text-align: center;
        width: 100%;
    }

    .footerFirstTopRight
    {
        display: block;
        text-align: center;
        width: 100%;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 790px) 
{
    .arrowsContainer
    {
        padding: 12px 16px;
    }
    
    .arrowsContainer a
    {
        height: 24px;
        width: 24px;
    }
    
    .arrowLeft
    {
        margin-right: 16px;
    }

    .instaFirst
    {
        width: 100%;
        float: none;
        text-align: center;
    }
    .instaSecond
    {
        width: 100%;
        padding-left: 0;
        padding-top: 20px;
        text-align: center;
    }
    #insta .instaButton
    {
        margin-top: 0;
        margin-left: 42px;
    }
}

@media only screen and (max-width: 767px) 
{
    #collapsibleNavbar a
    {
        padding: 5px 0;
        text-align: right;
    }

    #searchbar 
    {
        top: 172px;
        left: 20px;
    }

    #searchbar input
    {
        width: 40vw;
    }
}

@media only screen and (max-width: 702px)
{
    #footer
    {
        padding: 40px 50px;
    }
}

@media only screen and (max-width: 636px) 
{
    #insta .instaButton
    {
        margin-left: 10px;
    }

    .instaMiddle
    {
        padding: 60px 50px;
    }
}

@media only screen and (max-width: 602px) 
{
    #footer
    {
        padding: 40px 20px;
    }

    .footerSecond
    {
        padding-top: 50px;
    }
}

@media only screen and (max-width: 576px) 
{
    .introPhoto
    {
        width: 80%;
    }
}

@media only screen and (max-width: 542px) 
{
    #intro .introButtonFirst
    {
        margin-bottom: 20px;
    }
    
    #footer .footerButton
    {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 516px) 
{
    .offerText 
    {
        padding: 0 60px 60px;
    }

    .offerColumns 
    {
        padding: 0px 10px;
    }

    #insta .instaButton
    {
        margin: 24px 0;
    }

    #footer .footerButton
    {
        margin-left: 0;
    }
}

@media only screen and (max-width: 476px) 
{
    #about .rightColumn 
    {
        padding: 40px;
    }

    .footerSecondLeft
    {
        display: block;
        text-align: center;
        width: 100%;
    }

    .footerSecondRight
    {
        display: block;
        text-align: center;
        width: 100%;
        padding-top: 20px;
    }

    .footerFirstBottomLeft a
    {
        padding-left: 20px;
    }
}

@media only screen and (max-width: 420px) 
{
    .offerText 
    {
        padding: 0 40px 60px;
    }

    .offerCol
    {
        padding: 24px 20px;
    }
}